
.login-background {
    min-height: 100vh;
    background-color: #393939;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center{
    color: white;
}

.banner {
    width: 100%;
    background-color: #000;
    color: white; 
    font-weight: 300;
    padding: 1rem 0; 
    position: fixed;
    top: 0; 
    left: 0;
    z-index: 1000; 
}


body {
    padding-top: 60px;
    background-color: #393939;
}


.login-background {
    min-height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    box-sizing: border-box;
}


.history-text {
    cursor: pointer;
    
}

.card {
    background-color: #fff;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.link-light,
.additional-text {
    color: #000; 
    text-decoration: none;
}

.link-light:hover {
    color: #000;
}

.footer-link {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px; 
    background-color: #333; 
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.footer-link a {
    color: white;
    text-decoration: none;
    padding: 0 15px; 
}

.footer-link span {
    flex-grow: 1; 
    text-align: center;
}


