
.login-background {
    min-height: 100vh;
    background-color: #393939; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-left{
    color: white;
}

.banner{
    background-color: rgb(0, 0, 0);
    font-weight: 300;
}

.btn-primary {
    background-color: #000000;
    border: none;
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}


.link-light {
    color: #000000;
    text-decoration: underline;
}

.link-light:hover {
    color: #000000;
}


.link-light {
    color: #333;
}


.additional-text {
    color: #000000; 
}
