
.signup-background {
    color: #ffffff;
    background-color: #393939;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.banner {
    background-color: #000; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.banner h1 {
    margin: 0;
    font-weight: 300;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

.signup-form {
    background-color: #393939; 
    padding: 4rem;
    border-radius: 8px;
}

.signup-form .form-control {
    background-color: #e9ecef; 
    border: none;
    margin-bottom: 1rem; 
}

.btn-primary {
    background-color: #000;
    border: none;
}


.signup-background {
    padding-bottom: 60px; 
}

.password-criteria-box {
    color: #fff; 
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    margin-top: 15px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    /*margin-left: auto;
    margin-right: auto;*/
}

.password-criteria-box h4 {
    margin-top: 0;
}

.password-criteria-box ul {
    list-style-type: none; 
    padding-left: 0; 
}

.password-criteria-box li {
    margin-bottom: 5px;
    /*font-weight: bold; */
}

