/* SignUpPage.css */

.signup-background {
    color: #ffffff; /* Texto blanco */
    background-color: #393939; /* Fondo gris oscuro, como en diseños anteriores */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.banner {
    background-color: #000; /* Fondo negro para el banner */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.banner h1 {
    margin: 0;
    font-weight: 300;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

.signup-form {
    background-color: #393939; /* Fondo blanco para el formulario */
    padding: 4rem;
    border-radius: 8px;
}

.signup-form .form-control {
    background-color: #e9ecef; /* Gris claro para los campos de formulario */
    border: none;
    margin-bottom: 1rem; /* Espacio entre campos de formulario */
}

.btn-primary {
    background-color: #000; /* Botón negro */
    border: none;
}

/* SignUpPage.css */

.footer-link {
    position: fixed; /* Fijar el elemento en la parte inferior */
    bottom: 0; /* Alinearlo al final de la página */
    left: 0; /* Alinearlo a la izquierda */
    width: 100%; /* Establecer el ancho al completo */
    background-color: #393939; /* Fondo gris oscuro, como el fondo de la página */
    color: white; /* Texto en blanco */
    text-align: center;
    padding: 1rem 0; /* Añadir algo de padding */
}

/* Corrige el padding del contenedor principal para evitar que el contenido se solape con el footer */
.signup-background {
    padding-bottom: 60px; /* Asegúrate de que este valor sea al menos la altura de tu footer */
}

