
.signup-background {
    color: #ffffff;
    background-color: #393939;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.banner {
    background-color: #000; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.banner h1 {
    margin: 0;
    font-weight: 300;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

.signup-form {
    background-color: #393939; 
    padding: 4rem;
    border-radius: 8px;
}

.signup-form .form-control {
    background-color: #e9ecef; 
    border: none;
    margin-bottom: 1rem; 
}

.btn-primary {
    background-color: #000;
    border: none;
}



.signup-background {
    padding-bottom: 60px; 
}

